.team-slots {
    gap: 100px;
}

.goalvalue-title-input {
    color: #fff !important;
}

#statsPage .total-row td {
    color: #fff;
}

#goalValuePage .goalvalue-table tbody tr:last-child td {
    color: #fff;
}

.season-table .total-row td {
    color: #fff;
}