.example-class {
    gap: 100px;
}

.other-class {
    color: #fff !important;
}

.another-class {
    color: #fff !important;
}

.yet-another-class {
    color: #fff !important;
}

.last-class {
    color: #fff;
}

/* Other styles remain unchanged */
